In [1]:
import numpy as np
import pandas as pd

C:\Users\Anduril\AppData\Local\Temp\ipykernel_9552\1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [14]:
seri = pd.Series(np.random.randint(0,50,8))
seri

0    36
1     6
2    46
3    30
4    25
5    13
6     3
7    35
dtype: int32

### head

In [15]:
seri.head(3) # İçine girilen değer kadar baştaki verileri getirir. default = 5

0    36
1     6
2    46
dtype: int32

### tail

In [16]:
seri.tail(3) # İçine girilen değer kadar sondaki verileri getirir. default = 5

5    13
6     3
7    35
dtype: int32

### sample

In [20]:
seri.sample(2) # İçine girilen değer kadar random örneklem getirir. default = 1

1     6
4    25
dtype: int32

### sort_values

In [22]:
seri.sort_values(ascending= True) #value değerlerini sıralar.

6     3
1     6
5    13
4    25
3    30
7    35
0    36
2    46
dtype: int32

In [23]:
seri.sort_values(ascending= False) # value değerlerini tersten sıralar.

2    46
0    36
7    35
3    30
4    25
5    13
1     6
6     3
dtype: int32

### sort_index

In [24]:
seri.sort_index(ascending= True) # index değerlerini sıralar.

0    36
1     6
2    46
3    30
4    25
5    13
6     3
7    35
dtype: int32

In [25]:
seri.sort_index(ascending= False) # index değerlerini tersten sıralar.

7    35
6     3
5    13
4    25
3    30
2    46
1     6
0    36
dtype: int32

### DataFrames

2D veri koleksiyonudur. Veriler tablo (tabular) şeklinde saklanır.  

Satır (İndex) ve Sütun isimlerini kendimiz verebiliriz.

In [27]:
list_1 = [[1,2,3],[4,5,6]]
index_name = ["S","F"]
column_name = ["A", "B", "C"]

df = pd.DataFrame(data = list_1, index= index_name ,columns = column_name, )
df

   A  B  C
S  1  2  3
F  4  5  6

In [28]:
list_1 = [[1,2,3],[4,5,6]]  
index_name = ["S","F"]
column_name = ["A", "B", "C", "D"] #HATA! Sütun sayısı ile veri sayısı eşleşmelidir.

df = pd.DataFrame(data = list_1, index= index_name ,columns = column_name, )
df

ValueError: 4 columns passed, passed data had 3 columns

### DataFrameleri Numpy Arrays ile kullanma

In [29]:
arr1 = np.arange(1,27,3).reshape(3,3)
arr1

array([[ 1,  4,  7],
       [10, 13, 16],
       [19, 22, 25]])

In [32]:
df = pd.DataFrame(data = arr1, index=["B","L","T"], columns= ["S","R","S"])
df

    S   R   S
B   1   4   7
L  10  13  16
T  19  22  25

Not: data, index, columns positionaldır ve yerlerine bir şey yazmasak bile bu sırayla çalışırlar. 

Ancak yazmak okunurluğu artırır, iyidir hojjdur.

In [33]:
df = pd.DataFrame(arr1, ["B","L","T"], ["S","R","S"])
df

    S   R   S
B   1   4   7
L  10  13  16
T  19  22  25

### DataFrameleri Dictionary ile kullanma

Sütun isimlerini veri oluştururken gireriz.

In [36]:
data = {"Name": ["Koba", "Bulut", "Günes"], "Age":[3,4,5]}
pd.DataFrame(data = data)

    Name  Age
0   Koba    3
1  Bulut    4
2  Günes    5

In [47]:
data = {"Name": ["Koba", "Bulut", "Günes"], "Age":[3,4,5]} 
pd.DataFrame(data = data, index=["S","R","S"]) # index isimlerini dictionarylerde de verebiliriz.

    Name  Age
S   Koba    3
R  Bulut    4
S  Günes    5

In [42]:
aa = pd.DataFrame(data = data, columns=["Name","Age","Tatlılık_Dereceleri"]) 
aa      #Dictionary'de fazla değer girilirse hata yerine NaN alırız. shape = (3,3)

    Name  Age Tatlılık_Dereceleri
0   Koba    3                 NaN
1  Bulut    4                 NaN
2  Günes    5                 NaN

In [43]:
bb = pd.DataFrame(data = data, columns=["İsim","Yas","Tatlılık_Dereceleri"]) 
bb  #Hiç data'daki sütun isimleriyle eşleşen olmadığı için boş verdi. shape = (0,3)

Empty DataFrame
Columns: [İsim, Yas, Tatlılık_Dereceleri]
Index: []

### DataFrame Methodları

- head, tail, sample, columns, index, x.mean

In [50]:
data = {"Name": ["Koba", "Bulut", "Günes"], "Age":[3,4,5]} 
df = pd.DataFrame(data)
df

    Name  Age
0   Koba    3
1  Bulut    4
2  Günes    5

In [51]:
df.head(2)

    Name  Age
0   Koba    3
1  Bulut    4

In [52]:
df.tail(2)

    Name  Age
1  Bulut    4
2  Günes    5